body{
	background-color : rgb(205, 197, 197) ;
	 margin : 25;
	  padding: 25; 
	  font-family: "Trebuchet MS", Helvetica, sans-serif;
	   font-size : 18px;
	    color : black;  
	    position: absolute;
       top: 10%;
       left: 20%;
       text-align: center;
       font-weight: bold;
  margin-bottom: 30px;
	  }

header, footer, nav, section, article, aside
{
	display:block;
	 width: auto; 
	 height: auto; }
ul,li,h1,h2,h3,h4,h5,h6,span,p
{
	padding: 20;
	 margin: 20;
	}
a
{
 text-decoration:none; 
 color: black;
  }
.hide
 {
 	display: none;
 }
h1
{
	font-size: 25px; 
	color: green;
	 text-align: center; 
	 margin-top: 20px; 
	 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

#Cforum
{
	width: 780px; 
	min-height: 300px; 
	padding: 10px; 
	margin: auto; 
	margin-top: 20px; 
	background-color: white; 
	border:  1px solid rgb(209, 127, 3);
}
.categories 
{
	width: 700px;
	 margin: auto; 
	 background-color: rgb(235, 235, 235); 
	 height: 50px; 
	 line-height: 50px; 
	 margin-top: 20px;
	  padding: 10px; 
	   }
.post
{
	background-color: rgb(229, 224, 213); 
	margin: auto;
	 margin-top: 10px;
	 min-height: 200px;
	  width: 700px;
	   padding: 10px;
	    }

